body 	{
			background-color:powderblue;
		}
p 		{
			font-family:arial;
			border: 2px solid red;
			padding: 30px;
		}
strong 
		{
			color:red;
		}
		
h1		{
			font-size: 300%;
		}
.center {
			text-align: center;
			color: red;
		}